body {

}

.frame {
  margin-left: 21px;
}
header {
  text-align: center;
}
.content .login {
  text-align: center;
}

.form-group {
  margin: 20px;
}

.login {

}

.error{
	display: none;
	margin-left: 10px;
}		

.error_show{
	color: red;
	margin-left: 10px;
    position: absolute;
}
