.frame {
  margin-left: 21px;
}
header {
  text-align: center;
}
.content .login {
  text-align: center;
}
.form-group {
  margin: 20px;
}
.errorhide {
  display: none;
  margin-left: 10px;
}
.errorshow {
  display: inline;
  color: red;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
}
.help {
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}
a {
  color: #333 !important;
}